@charset "utf-8";

h1 {
//  background-color: #336699;
//  color: #ffffff;
  font-size: 22px;
  padding-top: 15px;
  padding-left:10px;
  padding-bottom:5px;
}

pre.fragment {
  font-family: "Courier New", Consolas, monospace;
}

td.type0 {
  border: 1px #ffffff solid;
  width:  52px;
  font-size: 14px;
  font-style: italic;
  font-family: times;
  text-align: center;
}
td.type1 {
  border: 1px #008000 solid;
  width:  22px;
  font-size: 14px;
  font-style: italic;
  font-family: times;
  text-align: center;
}
td.type2 {
  border: 1px #ff0000 solid;
  width:  22px;
  font-size: 14px;
  font-style: italic;
  font-family: times;
  text-align: center;
}
td.type3 {
  border: 1px #0000ff solid;
  width:  22px;
  font-size: 14px;
  font-style: italic;
  font-family: times;
  text-align: center;
}
td.type4 {
  border: 1px #ff00ff solid;
  width:  22px;
  font-size: 14px;
  font-style: italic;
  font-family: times;
  text-align: center;
}
td.type5 {
  border: 1px #ff9900 solid;
  width:  22px;
  font-size: 14px;
  font-style: italic;
  font-family: times;
  text-align: center;
}
td.type6 {
  border: 1px #99ff00 solid;
  width:  22px;
  font-size: 14px;
  font-style: italic;
  font-family: times;
  text-align: center;
}
td.type7 {
  border: 1px #800000 solid;
  width:  22px;
  font-size: 14px;
  font-style: italic;
  font-family: times;
  text-align: center;
}
td.type8 {
  border: 1px #ffffff solid;
  width:  22px;
  font-size: 14px;
  font-style: italic;
  font-family: times;
  text-align: center;
}

ul.set_option{
  font-size: 12px;
}

tr.set_option{
  font-size: 14px;
}

tr.get_detail{
  font-size: 14px;
}

pre.fragment{
  font-size: 12.5px;
}

h1 {
  padding: .50em 0;
  border-top: 1.5px solid #C4CFE5;
  border-bottom: 1.5px solid #C4CFE5;
}

span.pre {
    background-color:#DCDCDC;
    hyphens: none;
}

div.image img[src="nlcpy_image1.png"]{ 
    width:320px; 
}

table.func_outer {
    border:0;
}

td.func_outer {
    padding-right:10px;
    vertical-align:top;
}

div.image img[src="lazy_evaluation.bmp"]{ 
    width:400px; 
}

div.image img[src="thermal_simulation.gif"]{ 
    width:500px; 
}

div.image img[src="averaging_filter.png"]{ 
    width:500px; 
}

div.image img[src="gamma_distribution.png"]{
    width:500px;
}

div.image img[src="sine.jpg"]{
    width:380px;
}

#titlearea {
    background-image: url(ext-grad0.png);
    background-repeat: no-repeat;
}

#projectname {
    padding-left: 32px;
}
