[flake8]
max-line-length = 89
filename = *.py,*.pyx,*.px*
exclude =
    build,dist,Doxygen,bench,.git,
    *.m4,*.dox,tests/NEC_internal,doc,
    sphinx
ignore = W503,W504,W605
per-file-ignores =
    *.pyx,*.px*: E225,E226,E227,E999
