*.o
*.so
*.log
*_log\.*
*.npy
*.npz
*.png
*.pickle
*.egg-info
ftrace.out*
/build/
/dist/
/obj/
/obj_ve1/
/obj_ve3/
/.tox/
/doc/build/
generated
MANIFEST.in
setup.cfg
__pycache__
htmlcov
.coverage
build_info.py
